.app {
  background-color: azure;
}

nav {
  background-color: rgb(252, 130, 130);
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: .5rem;
  margin-bottom: 3rem;
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.public {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.issue {
  margin: 1rem auto;

}

.vote-container {
  display: flex;
  gap: 1rem;
}

.vote-container div {
  display: flex;
  gap:3px;
}

.vote-container div button {
width: 3rem;
border-radius: 20px;
/* border: none; */
background-color: rgba(223, 33, 33, 0.655);
}

.auth {
  text-align: center;
}

.authForm {
  margin: 2rem auto 1rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  text-align: center;
  padding: 3rem;
  border: 3px black solid;
  border-radius: 1rem;
}

.authForm input {
  margin-bottom: 1rem;
}

.auth > p {
  text-decoration: underline;
}
.issueForm {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 2rem auto 1rem;
  border: 3px black solid;
  border-radius: 1rem;
  padding: 3rem;
}

.issueList {
  display: flex;
  flex-direction: row;
}