body {
  padding: 1rem;
  margin: 0;
  color: white;

}
/**** Laptop Size ****/

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 450px 150px;
  grid-gap: 2rem;
}

.block {
border-radius: 8px;
padding: 0px 10px;
font-size: 1rem:
}

.block > h2, h1{
  margin: 0;
}

.content-para {
  margin: 0;
  font-size: 1.5rem;
  }

.header {
  background-color: red;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.sidebar {
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.content {
  background-color: green;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.sidebar-2 {
  background-color: purple;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.footer {
  background-color: yellow;
  grid-column: 1/ -1;
  grid-row: 3 / 4;
}

/**** Tablet Size  ****/

@media (max-width: 991.98px) {

.container {
  grid-template-rows: 50px 150px 50px 50px;
  grid-gap: 1rem;
}

.content {
  background-color: green;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.sidebar-2 {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.footer {
  background-color: yellow;
  grid-column: 1/ -1;
  grid-row: 4 / 5;
}

.sidebar {
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
}

/**** Phone Size ****/

@media (max-width: 767.98px) {

  .container {
    grid-template-rows: 50px 50px 100px 50px 50px;
    grid-gap: 1rem;
  }
  .header {
    grid-row: 1 / 2;
  }
  .sidebar {
    background-color: blue;
    grid-column: 1 / -1;
  }
  .content {
    background-color: green;
    grid-column: 1/ -1;
    grid-row: 3 / 4;
  }
  .content-para {
    font-size: 1rem;
    }
  .sidebar-2 {
    grid-row: 4 / 5;
  }

  .footer {
    background-color: yellow;
    grid-column: 1/ -1;
    grid-row: 5 / 6;
  }

}