@media only screen and (max-width: 900px){
   
    
  /* use this media query to help these two cells drop to the bottom when screens are smaller */
  .authors {
       grid-row: 7 / 8;
       grid-column: 1 / 3;
  }
  .links {
      grid-row: 8 / 9;
      grid-column: 1 / 3;
  }
  /* container could use some help so that it's children are full screen width */
  .container {
      /* width:fit-content;
      height: fit-content; */
  position: relative;
  font-size: 18px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  width: 100%;
  
  }

} 

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.border {
  border: solid black 2px;
}
.see {
  opacity: .5;
}

@media only screen and (max-width: 600px){

}

@media only screen and (min-width: 300px) {
  
}