body{
  margin: 0;
  font-size: 2rem;
  background: #FFFFFF;
  background: -webkit-linear-gradient(bottom, #FFFFFF, #3F9FD6);
  background: -moz-linear-gradient(bottom, #FFFFFF, #3F9FD6);
  background: linear-gradient(to top, #FFFFFF, #3F9FD6);
  /* Allows gradient stretch */
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 2rem 0rem 9.5rem;
  background-image: url("img/slice1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* form container  */
.container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10rem;
}

form label {
  display: block;
}

form input {
  margin: 5px 10px 25px;
  width: 50%;
  line-height: 2rem;
  font-size: 1.8rem;
  align-items: left;
}
form input:nth-of-type(3){
  width: 10%;
}

.gender {
  margin-left: 10px;
}
.gender label {
  display: inline;
}
.gender input {
  width: 2rem;
  margin: 10px 0px 15px;
  height: 1.3rem;
}

#location {
  margin-top: 10px;
}

form select {
  width: 45%;
}

select, option {
  margin: 5px 10px 25px;
  font-size: 1.8rem;
  line-height: 2rem;
}

.diet {
  margin-left: 15px;
}
.diet label {
  display: inline-block;
}
.diet input {
  height: 1.3rem;
  margin: 0;
  width: 1rem;
}

button {
  width: 30%;
  text-align: center;
  margin-top: 30px;
  font-size: 1.8rem;
  background-color: rgba(77, 243, 243, 0.233);
}

.btn {
  text-align: center;
  width: 100%;
}
/* .diet label {
  justify-content: right;
  text-align: right;
  width: 30%;
} */